.actions {
    padding-bottom: 94px;
}

.actions__list {
    display: flex;
    flex-wrap: wrap;

    & .item + .item {
        margin-left: 30px;
    }
}

.section-name {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
       
    color: var(--title-color);
}

.actions__item {
    position: relative;
}

.actions__descript {
    display: block;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--third-brand-color);
    background-color: rgba(47, 48, 58, 0.8);
}