.exeptions__item {
    max-width: 450px;

    & + & {
        margin-top: 30px;
    }
}

.exeptions__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;       
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--second-background-color);   
}

.exeptions__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    
    color: var(--title-color);
}

.exeptions__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

@media (min-width: 768px) {
    .exeptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -15px;

        & + & {
            margin-top: 0;
        }
        
        &__item {
            flex-basis: calc(100% / 2 - 30px);
            margin: 15px;
        }

        &__subtitle {
            text-align: left;
        }
    }
} 

@media (min-width: 1200px) {
    .exeptions {
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;

        &__item {
            flex-basis: calc((100% - 90px)/4);
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 15px;
            margin-right: 15px;
        }

        &__container {
            width: 270px;
            height: 120px;
        }
    }
}