.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--footer-color);
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.container-adress {
    width: 231px;
    margin-right: 70px;
}

.container-address__style {
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
       
    color: var(--third-brand-color);
}

address {
    font-style: normal;
    margin: 0;
}

.address {
    margin-bottom: 9px; 
}

.footer-list__contact {
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--time-duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.foorer-list__item {
    margin-bottom: 9px;
}
.footer-list :last-child {
    margin-bottom: 0;
}

.footer-social-list {
    width: 206px;
    margin-right: 93px;

    & .social-list__link {
        background-color: rgba(255, 255, 255, 0.1);
    
        transition: background-color var(--time-duration) var(--timing-function);
    }
    
    & .social-list__link:hover,
    & .social-list__link:focus {
        background-color: var(--brand-color);
    }
}

.footer-add {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--third-brand-color);
}

.social-list__link .social-list__icon-dark {
    fill: var(--third-brand-color); 
}

.submit-mail {
    display: flex;
}

.submit-mail-field {
    display: block;
    width: 358px;
    height: 50px;
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    }   
    
    &:focus {
        outline: none;
        color: var(--third-brand-color);
    }    
}

.submit-mail-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
    
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-brand-color);

    cursor: pointer;
}

.submit-mail-icon {
    margin-left: 10px;
    fill: var(--third-brand-color);
}