.menu,
.connect {
  display: none;
}

.top-site {
  border-bottom: 1px solid #ECECEC;
}

.top-site .container {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.mobile-menu-open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-menu-open-icon,
.mobile-menu-close-icon {
  fill: var(--title-color);
  transition: fill var(--time-duration) var(--timing-function);
}

.mobile-menu-open-btn:hover .mobile-menu-open-icon,
.mobile-menu-open-btn:focus .mobile-menu-open-icon,
.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {  
  fill: var(--brand-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--third-brand-color);
  transform: translateX(100%);
  transition: transform var(--time-duration) var(--timing-function);
  z-index: 50;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__overall {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 480px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 10x;
  color: #fff;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: var(--title-color);
}

.current-link {
  color: var(--brand-color);
}

.mobile-menu__item + .mobile-menu__item {
  margin-top: 32px;
}
 
.mobile-contact__item + .mobile-contact__item  {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mobile-contact__link-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  color: var(--brand-color);
}

.mobile-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--text-color);
}

.mobile-social-list__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  color: var(--brand-color);
}

.mobile-social-list {
  display: flex;
}

.mobile-social-list__item + .mobile-social-list__item {
  margin-left: 10px;
  padding-left: 10px;

  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

@media (min-width: 480px) {  
  .mobile-contact__link-tel {
    font-size: 34px;
  }

  .mobile-social-list__link {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 88px;

    transition: color var(--time-duration) var(--timing-function);

    & .current {
        color: var(--brand-color);
    }

    & a:hover,
    & a:focus {
        color: var(--brand-color);
    }
}

.menu__item + .menu__item {
    margin-left: 51px;
}

.current {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background: var(--brand-color);
        border-radius: 2px;
    }
}

.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    color: var(--title-color); 
}

.connect {
    display: block;
    align-items: flex-end;
    margin-left: auto;

    & a{
        transition: color var(--time-duration) var(--timing-function);
    } 
    
    & a:hover,
    & a:focus {
        color: var(--brand-color);
    }
}

.connect__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--text-color);
}

.connect__item + .connect__item {
  margin-top: 10px;
}

.connect__icon {
    margin-right: 10px;
    fill: var(--text-color);

    .link & {
        transition: fill var(--time-duration) var(--timing-function);
    }
    
    .link:hover &,
    .link:focus & {
        fill: var(--brand-color);
    }
}
}

@media (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }

  .menu__item + .menu__item {
    margin-left: 50px;
  }
  .connect {
    display: flex;
  }

  .connect__item + .connect__item {
    margin-top: 0;
    margin-left: 50px;
  }
}