.hero-style {  
    padding-top: 200px; 
    padding-bottom: 200px;
    background-color: var(--footer-color);
    text-align: center;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero {
    margin: 0 auto;
    width: 696px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--third-brand-color); 
}

.button {
    margin-top: 30px;
    border-radius: 4px;
    padding: 9px 30px;
    min-width: 216;
    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center; 
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--third-brand-color);
    background-color: var(--brand-color); 

    transition: color var(--time-duration) var(--timing-function);

    & :hover,
    & :focus {
        color: var(--active-button-color);
    }
}

