.hero-style {
    padding-top: 118px; 
    padding-bottom: 198px;
    background-color: var(--footer-color);
    text-align: center; 
}

.overlay {
    max-width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/Hero-mob-1x.jpg);
    background-size: cover;
    background-position: center;

        @media (min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi), 
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
          url(../images/Hero-mob-2x.jpg);
      }
}

.hero {
    margin: 0 auto;
    max-width: 360px;
    
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--third-brand-color);
}

.button {
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 200;
    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center; 
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--third-brand-color);
    background-color: var(--brand-color); 

    transition: color var(--time-duration) var(--timing-function);

    & :hover,
    & :focus {
        color: var(--active-button-color);
    }  
}

@media (min-width: 768px) {
    .overlay {
        max-width: 768px;
        height: 400px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/Hero-tabl-1x.jpg);

        @media (min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi), 
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
          url(../images/Hero-tabl-2x.jpg);
        }
    }
}

@media (min-width: 1200px) {
    .hero-style {  
    padding-top: 200px; 
    padding-bottom: 200px;
    }

    .overlay {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/Hero-desk-1x.jpg);

        @media (min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi), 
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url(../images/Hero-desk-2x.jpg);
        }

    }

    .hero {
        width: 696px;
    }

    .button {   
        padding: 9px 30px;
        min-width: 216;   
    }
}