.team {
    background-color: var(--second-background-color) ;
}

.team__list {
    display: flex; 
    margin-left: -30px;  
}
.team__photo {
    background-color: var(--third-brand-color);

    & + & {
        margin-left: 30px;
    }
}

.team__description {
    padding: 30px 32px;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
}

.team__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list__icon-light {
    background-color: var(--third-brand-color);

    transition: background-color var(--time-duration) var(--timing-function);

    .social-list__link & {
        fill: var(--fill-color);
    
        transition: fill var(--time-duration) var(--timing-function);
    }
    
    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--third-brand-color); 
        background-color: var(--brand-color);  
    }
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--brand-color);
}