.logo {
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
           
    color: var(--brand-color);
}

.secondary-logo-color{
    color: var(--secondary-brand-color); 
}

.third-logo-color {
    color: var(--third-brand-color);
}
