:root {
    --brand-color: #2196F3;
    --secondary-brand-color: #000000;
    --third-brand-color: #FFFFFF;
    --footer-color: #2F303A;
    --text-color: #757575;
    --title-color: #212121;
    --main-background-color: #F5F5F5;
    --second-background-color: #F5F4FA;
    --active-button-color: #188CE8;
    --fill-color: #AFB1B8;
    --main-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }